* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*styling slide show here*/
.image-container {
    position: relative;
    margin: 5px 0 0 0;
    max-height: 500px;
    max-width: 100%;
}
.hover-text{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #4cb2f1;
    opacity: 0;
    transition: 0.4s;
}

.mySlides {
    display: none;
}

.mySlides img{
    width: 100%;
    transition: opacity 0.4s ease;
}
.mySlides img:hover {
opacity: 0.7;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgb(12, 218, 80);
}

.prev {
    left: 10px;
}
.next {
    right: 10px;

}

.prev:hover,
.next:hover {
    background-color: rgb(0, 0, 0);
}

.prev, .next {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    color: rgb(255, 240, 240);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
}

.numbertext {
    color: #680909;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: darkgoldenrod;
    border-bottom-right-radius: 5px;
}
.caption {
    color: #116396;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #E1306C;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #116396;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}
/* Active dot*/
.active,
.dot:hover {
    background-color: #E1306C;
}

.fade {
    animation: fadeEffect 1.5s;
    animation-name: none;
}

@keyframes fadeEffect 
{
    from 
    {
opacity: 0.4;
    }
    to
    {
        opacity: 1;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #00ff62;
    background-image: url(../Img/Korabloom.1.jpg);
}

nav {
    background-color: rgba(245, 245, 245);
    box-shadow: 0 2px 6px rgb(3, 238, 101, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 90px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: rgb(12, 218, 80);
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    transition: background 0.10s;
}

.nav-links a:hover {
    background-color: rgb(39, 14, 231);
    border-radius: 10px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgb(20, 157, 220);
    list-style: none;
    min-width: 15px;
    border-radius: 4px;
    z-index: 100;
}

.submenu li a {
    padding: 10px 15px;
    color: aqua;
}

.submenu li a:hover {
    background-color: rgb(43, 214, 226);
}

@media (min-width: 769px) {
    .nav-links li:hover>.submenu {
        display: block;
    }
}

/*Hamburger menu*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: darkgreen;
    margin: 4px 0;
    border-radius: 2px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: antiquewhite;
        width: 100%;
        flex-direction: column;
        gap: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .nav-links a:hover {
        background-color: rgb(0, 0, 0);
        border-radius: 4px;
    }

    .nav-links.open {
        max-height: 500px;
    }

    .nav-links li {
        width: 100%;
    }

    .submenu {
        position: static;
        display: none;
        background-color: cadetblue;
    }

    .submenu.open {
        display: block;
    }

    .nav-links a {
        padding: 15px;
    }
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/*contact us page css*/
#fname,
#lname,
#subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccccccc2;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submit {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#lname:hover,
#fname:hover,
#subject:hover {
    background-color: #a5a9a5;
}

.container {
    border-radius: 5px;
    background-color: #cac7c7;
    padding: 20px;
    margin: 10px 100px 50px 100px;
}

/*Footer stlying starts here!*/
footer {
    background-color: grey;
    color: white;
    padding: 60px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.footer-logo h2 {
    font-size: 24px;
    margin: 10px;
    color: rgb(29, 194, 42);
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.6;
    color: aquamarine;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: aquamarine;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: rgb(23, 11, 184)
}

footer-contact p,
.footer-contact strong {
    font-size: 14px;
    line-height: 1.6;
    margin: 8px 0;
    color: aquamarine;
}

.footer-socials {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-socials a {
    color: goldenrod;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.footer-socials a:hover {
    color: #fff;
    /* hover color*/
}

.footer-socials i {
    margin-right: 8px;
}

.footer-contact p {
    color: #ccc;
    font-size: 14px;
    margin: 8px 0;
}

.footer-contact i {
    margin-right: 10px;
    color: #fff;
}

.footer-location p {
    color: #ccc;
    font-size: 14px;
}

.footer-location i {
    margin-right: 8px;
    color: #ff4d4d;
}

.fa-instagram {
    color: #E1306C;
}

.fa-tiktok {
    color: #000000;
}

.fa-facebook {
    color: #1877F2;
}

.fa-x-twitter {
    color: #4cb2f1;
}

.footer-newsletter input[type=email] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 4px 0 0 4px;
}

.footer-newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: crimson;
    color: black;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-bottom {
    background-color: black;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: grey;
}

@media (max-width:768px) {
    footer {
        text-align: center;
    }

    .footer-newsletter input[type=email] {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .footer-newsletter button {
        width: 100%;
        border-radius: 4px;
    }
}

.footer-newsletter button:hover {
    background-color: rgb(151, 131, 17);
}